.footer-container {
    width: 100%;
    height: auto;
    color: #ffffff;
    background: #20232A;
    position: absolute;
    padding: 20px 0px 20px 0px;
}

.footer-container a,
.footer-container a:hover {
    padding: 0px;
    background: #20232A;
}