body {
    margin: 0;
    font-family: Montserrat-Regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* globally used styles*/

a:hover {
    text-decoration: none;
}

.small-separation {
    padding: 50px 0px 50px 0px;
}

.very-small-separation {
    padding: 20px 0px 20px 0px;
}

.heading-text {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 55px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #32C766;
    padding-bottom: 20px;
}

.button-global-style {
    font-family: Montserrat-Medium;
    color: #FFFFFF;
    text-align: center;
    line-height: 29px;
    font-size: 24px;
    background: #32C766;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius: 5px;
    padding: 15px 60px 15px 60px;
}


/* center absolute divs inside relative ones */

.centerxy {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerx {
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centery {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* all fonts used */

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: local('Montserrat-Thin'), url('./assets/fonts/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: local('Montserrat-Medium'), url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: local('Montserrat-Light'), url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}