.body-header-container {
    width: 100%;
    height: 350px;
    left: 0;
    top: 0;
    position: relative;
    background: #282C34;
}

.body-header-container a {
    padding: 15px;
}

.header-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    /* identical to box height */
    text-transform: capitalize;
    color: #32C766;
    position: absolute;
    top: 10%;
}

.header-subtitle {
    font-family: Montserrat-Thin;
    position: absolute;
    font-size: 36px;
    /* identical to box height */
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    top: 40%;
}

.button-style {
    font-family: Montserrat-Medium;
    color: #FFFFFF;
    text-align: center;
    background: #32C766;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
    border: none;
}

.button-style:hover,
.button-style:active {
    background: #FFFFFF;
    color: #32C766;
}

.header-button {
    position: absolute;
    right: 0;
}

.header-subtext:hover {
    text-decoration: underline #32C766;
}

.sub-contain {
    position: absolute;
    top: 75%;
}

.subtext-style {
    font-size: 18px;
    color: #32C766;
    font-family: Montserrat-Regular;
}

.large-hr-icon {
    left: 72%;
    position: absolute;
    padding: 0px;
}

.large-hr-icon a {
    padding: 0px;
}

.hr-img {
    width: 300px;
    height: 300px;
}

@media only screen and (max-width: 1024px) {
    .header-title {
        font-size: 60px;
    }
    .header-subtitle {
        font-size: 28px;
    }
    .hr-img {
        width: 250px;
        height: 250px;
    }
    .body-header-container {
        height: 300px;
    }
    .button-style {
        font-size: 18px;
    }
    .subtext-style {
        font-size: 16px;
    }
    .body-header-container a {
        padding: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .header-title {
        font-size: 48px;
    }
    .header-subtitle {
        font-size: 24px;
    }
    .hr-img {
        width: 190px;
        height: 190px;
    }
    .body-header-container {
        height: 250px;
    }
    .button-style {
        font-size: 14px;
    }
    .subtext-style {
        font-size: 12px;
    }
    .body-header-container a {
        padding: 8px;
    }
}

@media only screen and (max-width: 425px) {
    .header-title {
        font-size: 32px;
    }
    .header-subtitle {
        font-size: 16px;
    }
    .hr-img {
        width: 100px;
        height: 100px;
    }
    .body-header-container {
        height: 200px;
    }
    .button-style {
        font-size: 10px;
    }
    .subtext-style {
        font-size: 8px;
    }
    .body-header-container a {
        padding: 4px;
    }
}